<?xml version="1.0"?>

<model>
  <name>arena_robotiklabor</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Judith Schicks und Andreas Huegel</name>
  </author>

  <description>
    Abbild der Roboterarena September 2019 aus dem Robotiklabor der Westfaelischen Hochschule Campus Bocholt
  </description>
</model>
